body {
  font-family: sans-serif;
}

.board {
  position: absolute;
  top: 40px;
  height: 360px;
  width: 200px;
  border-bottom : solid medium black;
  border-left : solid medium black;
  border-right : solid medium black;
}

#plr {
  left: 40px;
}

#oppo {
  left: 440px;
}

.next {
  position: absolute;
  height: 80px;
  width: 120px;
  top: 100px;
  border: solid medium black;
}

#plr_next {
  left: 280px;
}

#oppo_next {
  left: 680px;
}

.lines {
  position: absolute;
  top: 40px;
}

#plr_lines {
  left: 280px;
}

#oppo_lines {
  left: 680px;
}

.name {
  position: absolute;
  top: 420px;
}

#plr_name {
  left: 40px;
}

#oppo_name {
  left: 440px;
}

.block {
  position: absolute;
  height: 20px;
  width: 20px;
}

.overlay {
  position: absolute;
  top: 35px;
  height: 373px;
  width: 216px;
  background-color: pink;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  z-index: 50;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.overlay p {
  position: relative;
  top: 150px;
}