.board {
  position: absolute;
  top: 40px;
  height: 360px;
  width: 200px;
  border-bottom : solid medium black;
  border-left : solid medium black;
  border-right : solid medium black;
}

#plr {
  left: 40px;
}

#oppo {
  left: 440px;
}

.next {
  position: absolute;
  height: 80px;
  width: 120px;
  top: 100px;
  border: solid medium black;
}

#plr_next {
  left: 280px;
}

#oppo_next {
  left: 680px;
}

.lines {
  position: absolute;
  top: 40px;
}

#plr_lines {
  left: 280px;
}

#oppo_lines {
  left: 680px;
}

.block {
  position: absolute;
  height: 20px;
  width: 20px;
}